body {
    font-family: 'Oswald', sans-serif;
    color: #BABAC4;
    background-image: url("Metal background.jpeg");
    background-color: black;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

/* header mobile view */
header {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px;
    text-transform: uppercase;
}

header img {
    height: 50px;
    width: 200px;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
    padding-bottom: 10px;
    margin: 0;
}

li {
    padding-bottom: 10px;
}

/* remove underline and correct color */
a {
    text-decoration: none;
    color: #BABAC4;
}
/* capitolize orange text with rounded button */
nav button {
    color: #fe5783;
    border-radius: 25px;
    background-color: white;
    border: #fe5783 2px solid;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
}

/* log in floater */
main {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* white box with drop shadow in the center of area below header */
section {
    background-color: white;
    margin: 20px;
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: #800003 10px 10px 20px;
}

h1 {
    text-transform: initial;
    padding-bottom: 5px;
    margin-bottom: 0;
}

h2 {
    font-size: 12px;
    padding-bottom: 20px;
}
h2 a {
    color: #fe5783;
}

input {
    display: flex;
    align-items: center;
    border: none;
    padding-top: 40px;
    border-bottom: #BABAC4 2px solid;
    width: 340px;
}

section form label input {
    flex-direction: row;
    width: 12px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    vertical-align: center;
    border: 1px solid #babac4;
    -webkit-appearance: none;
    outline: none;
}
section form label input:checked {
    background-color: gray;
}

/* changes text color for placeholders */
input::placeholder {
    color: #BABAC4;
    font-size: 15px;
}

label {
    font-size: 12px;
}

#forgot {
    text-align: end;
    z-index: 5;
}

section a {
    font-size: 12px;
    justify-content: flex-end;
}

/* aligns buttons and "or" */
.buttons {
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* slight rounded corner buttons for different sources */
button {
    align-items: center;
    width: 340px;
    color: white;
    border:none;
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-size: 12px;
    margin: 5px;
}

span {
    font-size: 12px;
}

/* changes the background of each button */
#login {
    background-color: #800003;   
}

#facebook {
    background-color:#559AD1;
}

#spotify {
    background-color: #39BD59;
}