body {
    font-family: 'Oswald', sans-serif;
    color: #BABAC4;
    background-image: url("Metal background.jpeg");
    background-color: #8ED1CD;
    margin: 0;
    padding: 0;
}

/* header mobile view */
header {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px;
    text-transform: uppercase;
}

header img {
    height: 50px;
    width: 200px;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
    padding-bottom: 10px;
    margin: 0;
}

li {
    padding-bottom: 10px;
}

/* remove underline and correct color */
a {
    text-decoration: none;
    color: #BABAC4;
}
/* capitolize orange text with rounded button */
nav button {
    color: #F58B44;
    border-radius: 25px;
    background-color: white;
    border: #F58B44 2px solid;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
}

/* dark blue #5A6175 
lighter blue #559AD1
teal #8ED1CD
green  #39BD59
orange #F58B44
Grey color #BABAC4 */